.dilivery .template-title-green{
    margin-top: 97px;
}
.dilivery{
    position: relative;
    margin-bottom: 100px;
}
.offer__slider_counter{
    display: flex;
    justify-content: space-between;
}
 .offer__slider-inner{
    display: flex;
    flex-direction: row !important;
    overflow: overlay;
}

 .slider-template{
    color: #fff;
    max-width: 1140px;
    width: 100%;
}
 .container-counter{
    display: none;
}
.dilivery .slider-template__item{
    position: relative;
    padding: 0 20px 27px;
    max-width: 360px !important;
    margin: 0 10px;
    box-shadow: 5px 15px 40px rgba(31, 69, 88, 0.15);
    background-color: #363A4D;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
 .offer__slider-prev img{
    margin-top: 207px;
    position: absolute;
    z-index: 4;
    margin-left: -50px;
}
 .offer__slider-next img{
    margin-top: 207px;
    position: absolute;
    z-index: 4; 
}

.dilivery .slider-template-item .img-box{
    border-radius: 20px 20px 0 0 ;
    overflow: hidden;
    margin: 0 -20px 27px;
}
.option{
    font-weight: 700;
    font-size: 22px;
    line-height: 124.5%;
    text-align: center;
}
.slider-template-item .attr {
    font-family: Proxima Nova;
    display: flex;
    margin: 0;
    margin-bottom: 14px;
    font-weight: 700;
    font-size: 22px;
    line-height: 124.5%;
    text-align: center;
}
.slider-template-item .attr li{
    list-style: none;
    margin-left: 10px;
    background-repeat: no-repeat;
    padding-left: 30px;
    
}
.attr-day{
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.6429 2.35714H17.2857V0.785729C17.2857 0.351776 16.9339 0 16.5 0C16.066 0 15.7143 0.351776 15.7143 0.785729V2.35714H6.28569V0.785729C6.28569 0.351776 5.93392 0 5.50001 0C5.0661 0 4.71428 0.351776 4.71428 0.785729V2.35714H2.35714C1.05533 2.35714 0 3.41247 0 4.71428V19.6429C0 20.9447 1.05533 22 2.35714 22H19.6429C20.9447 22 22 20.9447 22 19.6429V4.71428C22 3.41247 20.9447 2.35714 19.6429 2.35714ZM20.4285 19.6429C20.4285 20.0768 20.0768 20.4286 19.6428 20.4286H2.35714C1.92319 20.4286 1.57141 20.0768 1.57141 19.6429V9.42857H20.4285V19.6429ZM20.4285 7.85715H1.57141V4.71428C1.57141 4.28033 1.92319 3.92855 2.35714 3.92855H4.71428V5.49997C4.71428 5.93392 5.06606 6.28569 5.50001 6.28569C5.93396 6.28569 6.28574 5.93392 6.28574 5.49997V3.92855H15.7143V5.49997C15.7143 5.93392 16.0661 6.28569 16.5 6.28569C16.934 6.28569 17.2858 5.93392 17.2858 5.49997V3.92855H19.6429C20.0769 3.92855 20.4286 4.28033 20.4286 4.71428V7.85715H20.4285Z' fill='%2389C249'/%3E%3Cpath d='M6.28683 11H4.71542C4.28146 11 3.92969 11.3518 3.92969 11.7857C3.92969 12.2197 4.28146 12.5715 4.71542 12.5715H6.28683C6.72078 12.5715 7.07256 12.2197 7.07256 11.7857C7.07256 11.3518 6.72078 11 6.28683 11Z' fill='%2389C249'/%3E%3Cpath d='M11.7868 11H10.2154C9.78146 11 9.42969 11.3518 9.42969 11.7857C9.42969 12.2197 9.78146 12.5715 10.2154 12.5715H11.7868C12.2208 12.5715 12.5726 12.2197 12.5726 11.7857C12.5726 11.3518 12.2208 11 11.7868 11Z' fill='%2389C249'/%3E%3Cpath d='M17.2868 11H15.7154C15.2815 11 14.9297 11.3518 14.9297 11.7857C14.9297 12.2197 15.2815 12.5715 15.7154 12.5715H17.2868C17.7208 12.5715 18.0726 12.2197 18.0726 11.7857C18.0725 11.3518 17.7207 11 17.2868 11Z' fill='%2389C249'/%3E%3Cpath d='M6.28683 14.1426H4.71542C4.28146 14.1426 3.92969 14.4944 3.92969 14.9283C3.92969 15.3623 4.28146 15.714 4.71542 15.714H6.28683C6.72078 15.714 7.07256 15.3623 7.07256 14.9283C7.07256 14.4944 6.72078 14.1426 6.28683 14.1426Z' fill='%2389C249'/%3E%3Cpath d='M11.7868 14.1426H10.2154C9.78146 14.1426 9.42969 14.4944 9.42969 14.9283C9.42969 15.3623 9.78146 15.714 10.2154 15.714H11.7868C12.2208 15.714 12.5726 15.3623 12.5726 14.9283C12.5726 14.4944 12.2208 14.1426 11.7868 14.1426Z' fill='%2389C249'/%3E%3Cpath d='M17.2868 14.1426H15.7154C15.2815 14.1426 14.9297 14.4944 14.9297 14.9283C14.9297 15.3623 15.2815 15.714 15.7154 15.714H17.2868C17.7208 15.714 18.0726 15.3623 18.0726 14.9283C18.0725 14.4944 17.7207 14.1426 17.2868 14.1426Z' fill='%2389C249'/%3E%3Cpath d='M6.28683 17.2861H4.71542C4.28146 17.2861 3.92969 17.6379 3.92969 18.0719C3.92969 18.5058 4.28146 18.8575 4.71542 18.8575H6.28683C6.72078 18.8575 7.07256 18.5058 7.07256 18.0718C7.07256 17.6379 6.72078 17.2861 6.28683 17.2861Z' fill='%2389C249'/%3E%3Cpath d='M11.7868 17.2861H10.2154C9.78146 17.2861 9.42969 17.6379 9.42969 18.0719C9.42969 18.5058 9.78146 18.8576 10.2154 18.8576H11.7868C12.2208 18.8576 12.5726 18.5058 12.5726 18.0719C12.5726 17.6379 12.2208 17.2861 11.7868 17.2861Z' fill='%2389C249'/%3E%3Cpath d='M17.2868 17.2861H15.7154C15.2815 17.2861 14.9297 17.6379 14.9297 18.0719C14.9297 18.5058 15.2815 18.8576 15.7154 18.8576H17.2868C17.7208 18.8576 18.0726 18.5058 18.0726 18.0719C18.0726 17.6379 17.7207 17.2861 17.2868 17.2861Z' fill='%2389C249'/%3E%3C/svg%3E");
}

.attr-weight{
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.353 5.10763C23.353 4.80315 23.1691 4.52881 22.8875 4.41308L12.2821 0.0563145C12.0993 -0.0187715 11.8943 -0.0187715 11.7115 0.0563145L1.10616 4.41308C0.824539 4.52876 0.640625 4.80315 0.640625 5.10763V18.8924C0.640625 19.1968 0.824492 19.4712 1.10616 19.5869L11.7115 23.9437C11.8924 24.018 12.0956 24.0196 12.2812 23.9436C12.2903 23.9406 11.8887 24.1053 22.8875 19.5869C23.1691 19.4712 23.353 19.1968 23.353 18.8924V5.10763ZM11.9968 8.71579L8.08915 7.1105L16.534 3.42655L20.703 5.13921L11.9968 8.71579ZM2.14234 6.29098L5.51375 7.67599V11.5835C5.51375 11.9981 5.84995 12.3343 6.26461 12.3343C6.67927 12.3343 7.01547 11.9981 7.01547 11.5835V8.29291L11.246 10.0308V22.1289L2.14234 18.3891V6.29098ZM11.9968 1.56259L14.5998 2.6319L6.15489 6.31585L3.2906 5.13916L11.9968 1.56259ZM12.7477 10.0308L21.8513 6.29098V18.3891L12.7477 22.1289V10.0308Z' fill='%2389C249'/%3E%3C/svg%3E");
}

.slider-template-item .price{
    font-family: Proxima Nova;
    font-weight: 700px;
    font-size: 45px;
    line-height: 1.24;
    text-align: center;
    margin-bottom: 18px;
}
.price span{
    font-weight: 400px;
    color: #A3A3A3; 
    font-weight: 400;
    font-size: 22px;
    line-height: 124.5%;
}
.slider-template-item .button-group{
    display: flex;
    margin: 0 -7px;
}
.slider-template-item .button-group .btn{
    margin: 0 7px;
    font-size: 14px;

}

.carousel-indicators-dilivery{
    display: none;
}



@media screen and (max-width: 1330px){
    .slider-template{
        max-width: 760px;
        width: 100%;
    }
    .dilivery .container{
        max-width: 783px;
        width: 100%;
    }
}
@media screen and (max-width: 865px){
    .dilivery .container{
        max-width: 380px;
        width: 100%;
        padding: 0;
    }
    .offer__slider-inner{
        max-width: 380px;
        width: 100%;
    }
    .slider-template__item{
        min-width: 360px;
        width: 100%;
    }

    .dilivery .carousel-indicators-dilivery{
        display: flex;
        position: absolute;
        right: 0;
        bottom: -85px;
        left: 0;
        z-index: 15;
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
    }
    .carousel-indicators-dilivery li{
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 10px;
        border-radius: 50%;
        height: 10px;
        margin-right: 15px;
        margin-left: 15px;
        cursor: pointer;
        background-color: #fff;
        background-clip: padding-box;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        opacity: .5;
        transition: opacity .7s ease;
    }
    .offer__slider-prev{
        display: none;
    }
    
    .offer__slider-next{
        display: none;
    }
    

}
