
.footer .container{
    max-width: 1140px;
    width: 100%;
    border-top: 1px solid #E58D35 ;
    padding: 40px 0;
    display: flex;
}
.footer-logo{
    margin-bottom: 29px;
}
.footer-section-1-content {
    color: #fff;
    max-width: 263px;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 162.5%;
    margin: 0 90px 15px 0;
}
.footer-section-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 146%;
    color: #FFFFFF;
}
.footer-links ul{
    padding-left: 0 !important;
}
.footer-links li{
    list-style: none;
}
.footer-links li a{
    color: #85899C; 
}
.footer-links li a:hover{
   color: #E58D35; 
}
.footer-section-3{
    margin-left: 97px;
}
.footer-section-4{
    margin-left: 72px;
}


@media screen and (max-width: 1180px){
    .footer-section-2, .footer-section-3, .footer-section-4 {
        display: none;
    }
    .footer-section-1-content{
       margin: auto;
       margin-bottom: 10px;
    }   
    .footer-section-1:first-child {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
        margin: 0;
    }
}


