.form-container{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20; 
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(116 116 116 / 55%) 
}
.form{
    max-width: 650px;
    width: 100%;
    margin: 40px auto;
    padding: 80px 96px 165px;
    border-radius: 16px;
    filter: drop-shadow(3px 3px 38px rgba(0, 0, 0, 0.48));
}
.form-content{
    border-radius: 16px;
    position: relative;
    width: 100%;
    padding: 40px;
    background-color: #363A4D;
    border: 1px solid rgba(0, 0, 0, .2);
}

.form-close {
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 20px;
    color: #363A4D;
    opacity: .5;
    font-weight: 700;
    border-radius: 50%;
    background-color: #EBEDF2;
    cursor: pointer;
    padding:  0 10px;
}

.form-title{
    color : white; 
    font-size: 35px;
    line-height: 32px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.form-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.form-questions{
    position: absolute;
    top: 50px;
    right: 40px;
    font-size: 18px;
    color: #000000;
    border: 1px solid black;
    /* opacity: .5; */
    /* font-weight: 700; */
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    padding: 0 10px;
}
.form-container label{
    color: #E58D35;
    font-size: 16px;
    line-height: 17px;
    margin-bottom: 10px;
}
.form-container input{
    margin-bottom: 36px;
    border: 1px solid #E58D35;
    border-radius: 12px;
    padding: 16px 0 16px 40px;
}
.form-button{
    background-color: #E58D35;
    border: 1px solid #E58D35;
    border-radius: 12px;
    padding: 20px 0 ;
    /* padding-top: 26px ;
    padding-bottom: 26px; */
    max-width: 501px;
    width: 100%;
    color: #fff;
    margin-top: 20px;
}

.show{
    display: block;
}

.hide{
    display: none;
}
.form-subtitle{
    color: #E58D35;
    text-align: center;
    font-size: 22px;
    margin-bottom: 30px;
}
/* ------------------------------- */