
.services{
    position: relative;
    margin-bottom: 91px;
}
.offer__slider-prev-services img{
    margin-top: 207px;
    position: absolute;
    z-index: 4;
    margin-left: -50px;
}
 .offer__slider-next-services img{
    margin-top: 207px;
    position: absolute;
    z-index: 5 !important;
}
.slider-template__item-content{
    padding: 0;
    padding: 258px 16px 27px;
}

.services .slider-template__item-content::before{
    z-index: 1;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(4, 5, 17, 0.91) 0%, rgba(88, 88, 88, 0) 100%);
    left: 0;
    top: 0;
    border-radius: 20px;
}



.services .slider-template__item{
    /* z-index: 5 ; */
    background-repeat: no-repeat;
    position: relative;
    max-width: 360px ;
    width: 100%;
    margin: 0 10px;
    box-shadow: 5px 15px 40px rgba(31, 69, 88, 0.15);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    
}

.services-slider-template-item-title{
    font-weight: 700;
    font-size: 22px;
    line-height: 124.5%;
    color: #FFFFFF;
    margin-bottom: 13px;
    z-index: 1;
}
.services-slider-template-item-text{
    font-weight: 400;
    font-size: 15px;
    line-height: 124.5%;
    color: #FFFFFF;
    margin-bottom: 14px;
    z-index: 1;
}
.services .btn{
    z-index: 1;
}
.services .slider-template-item{
    position: relative;
    
}
.services .title{
    z-index: 3;
    position: relative;
}
.services .description{
    z-index: 3;
    position: relative;
}
.carousel-indicators-services{
    display: none;
}




@media screen and (max-width: 1024px){
    .slider-section__item {
        max-width: 335px;
        width: 100%;
        min-height: 482px;
        border-radius: 20px;
    } 
    .slider-section__description {
        font-size: 14px;
    }
}

@media screen and (max-width: 1330px){
    .slider-template{
        max-width: 760px;
        width: 100%;
    }
    .services .container{
        max-width: 783px;
        width: 100%;
    }
}
@media screen and (max-width: 865px){
    .services .container{
        max-width: 380px;
        width: 100%;
        padding: 80px 0;
    }
    .offer__slider-inner{
        max-width: 380px;
        width: 100%;
    }
    .slider-template__item{
        min-width: 360px;
        width: 100%;
    }
    /* .services .container-counter{
        display: block;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .services .current{
        cursor: pointer;
        margin: -15px 20px 0 0;
        font-size: 100px;
    }
    .services .active-current{
        color: #A3A3A3;
    } */

    .services .dot{
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 10px;
        border-radius: 50%;
        height: 10px;
        margin-right: 15px;
        margin-left: 15px;
        cursor: pointer;
        background-color: #fff;
        background-clip: padding-box;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        opacity: .5;
        transition: opacity .7s ease;
    }
    .active-current-services{
        opacity: 1;
    }
    .carousel-indicators-services{
        display: flex;
        position: absolute;
        right: 0;
        bottom: 30px;
        left: 0;
        z-index: 15;
        justify-content: center;
        list-style: none;
        padding: 0;
    }

    .offer__slider-prev-services{
        display: none;
    }
    
    .offer__slider-next-services{
        display: none;
    }

}